# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
# User generated posts and images (only ignore contents, keep directories)
static/posts/*
!static/posts/.gitkeep
static/img/posts/*
!static/img/posts/.gitkeep
